<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>VeicoloServlet</servlet-name>
        <servlet-class>uni.parthenope.carsharing.controller.veicolo.VeicoloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VeicoloServlet</servlet-name>
        <url-pattern>/addCar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookCarServlet</servlet-name>
        <servlet-class>uni.parthenope.carsharing.controller.prenotazione.PrenotazioneUtenteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookCarServlet</servlet-name>
        <url-pattern>/bookCar</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>LateUsersServlet</servlet-name>
        <servlet-class>uni.parthenope.carsharing.controller.utente.LateUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LateUsersServlet</servlet-name>
        <url-pattern>/lateUsers</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>adminHome.jsp</welcome-file>
    </welcome-file-list>
</web-app>
